# Function, midi controller number
Aftertouch Assign,
Aftertouch Range,
Algorithms,5
Amp Modulation Sens OP1,28
Amp Modulation Sens OP2,29
Amp Modulation Sens OP3,30
Amp Modulation Sens OP4,31
Amp Modulation Sens OP5,33
Amp Modulation Sens OP6,34
Breath Controller Assign,
Breath Controller Range,
Compare,
Detune OP1,
Detune OP2,
Detune OP3,
Detune OP4,
Detune OP5,
Detune OP6,
EG Level1 OP1,
EG Level1 OP2,
EG Level1 OP3,
EG Level1 OP4,
EG Level1 OP5,
EG Level1 OP6,
EG Level2 OP1,
EG Level2 OP2,
EG Level2 OP3,
EG Level2 OP4,
EG Level2 OP5,
EG Level2 OP6,
EG Level3 OP1,
EG Level3 OP2,
EG Level3 OP3,
EG Level3 OP4,
EG Level3 OP5,
EG Level3 OP6,
EG Level4 OP1,
EG Level4 OP2,
EG Level4 OP3,
EG Level4 OP4,
EG Level4 OP5,
EG Level4 OP6,
EG Rate1 OP1,20
EG Rate1 OP2,21
EG Rate1 OP3,23
EG Rate1 OP4,24
EG Rate1 OP5,25
EG Rate1 OP6,26
EG Rate2 OP1,
EG Rate2 OP2,
EG Rate2 OP3,
EG Rate2 OP4,
EG Rate2 OP5,
EG Rate2 OP6,
EG Rate3 OP1,
EG Rate3 OP2,
EG Rate3 OP3,
EG Rate3 OP4,
EG Rate3 OP5,
EG Rate3 OP6,
EG Rate4 OP1,
EG Rate4 OP2,
EG Rate4 OP3,
EG Rate4 OP4,
EG Rate4 OP5,
EG Rate4 OP6,
Feedback,
Foot Controller Assign,
Foot Controller Range,
Frequency Coarse OP1,12
Frequency Coarse OP2,13
Frequency Coarse OP3,16
Frequency Coarse OP4,17
Frequency Coarse OP5,18
Frequency Coarse OP6,19
Frequency Fine OP1,
Frequency Fine OP2,
Frequency Fine OP3,
Frequency Fine OP4,
Frequency Fine OP5,
Frequency Fine OP6,
Frequency Mode OP1,
Frequency Mode OP2,
Frequency Mode OP3,
Frequency Mode OP4,
Frequency Mode OP5,
Frequency Mode OP6,
KLS Break Point OP1,
KLS Break Point OP2,
KLS Break Point OP3,
KLS Break Point OP4,
KLS Break Point OP5,
KLS Break Point OP6,
KLS Left Curve OP1,
KLS Left Curve OP2,
KLS Left Curve OP3,
KLS Left Curve OP4,
KLS Left Curve OP5,
KLS Left Curve OP6,
KLS Left Depht OP1,
KLS Left Depht OP2,
KLS Left Depht OP3,
KLS Left Depht OP4,
KLS Left Depht OP5,
KLS Left Depht OP6,
KLS Right Curve OP1,
KLS Right Curve OP2,
KLS Right Curve OP3,
KLS Right Curve OP4,
KLS Right Curve OP5,
KLS Right Curve OP6,
KLS Right Depht OP1,
KLS Right Depht OP2,
KLS Right Depht OP3,
KLS Right Depht OP4,
KLS Right Depht OP5,
KLS Right Depht OP6,
Keyboard Rate Scaling OP1,
Keyboard Rate Scaling OP2,
Keyboard Rate Scaling OP3,
Keyboard Rate Scaling OP4,
Keyboard Rate Scaling OP5,
Keyboard Rate Scaling OP6,
Key Velocity Sens OP1,
Key Velocity Sens OP2,
Key Velocity Sens OP3,
Key Velocity Sens OP4,
Key Velocity Sens OP5,
Key Velocity Sens OP6,
LFO Amp Modulation Depht,39
LFO Delay,37
LFO Pitch Modulation Depht,40
LFO Speed,35
LFO Synchronize,
LFO Wave,41
Level OP1,
Level OP2,
Level OP3,
Level OP4,
Level OP5,
Level OP6,
Modulation Wheel Assign,
Modulation Wheel Range,
Poly/Mono,
Mute OP1,
Mute OP2,
Mute OP3,
Mute OP4,
Mute OP5,
Mute OP6,
Oscillator Key Sync,
Panic,
Pitch EG Level1,
Pitch EG Level2,
Pitch EG Level3,
Pitch EG Level4,
Pitch EG Rate1,
Pitch EG Rate2,
Pitch EG Rate3,
Pitch EG Rate4,
Pitch Modulation Sens,
Portamento Gliss,
Portamento Mode,
Portamento Time,
Pitch Bend Range,
Pitch Bend Step,
Send Extra Parameters,
Transpose,
