gxinterface/po/gxinterface.pot
dx7interface/ABOUT-NLS
dx7interface/aclocal.m4
dx7interface/autoscan-2.72.log
dx7interface/config.h.in
dx7interface/config.h.in~
dx7interface/config.log
dx7interface/config.status
dx7interface/configure
dx7interface/configure.scan
dx7interface/configure~
dx7interface/intltool-extract.in
dx7interface/intltool-merge.in
dx7interface/intltool-update.in
dx7interface/libtool
dx7interface/Makefile
dx7interface/Makefile.in
dx7interface/stamp-h1
dx7interface/autom4te.cache/output.0
dx7interface/autom4te.cache/output.1
dx7interface/autom4te.cache/output.2
dx7interface/autom4te.cache/output.3
dx7interface/autom4te.cache/output.4
dx7interface/autom4te.cache/output.5
dx7interface/autom4te.cache/output.6
dx7interface/autom4te.cache/output.7
dx7interface/autom4te.cache/output.8
dx7interface/autom4te.cache/requests
dx7interface/autom4te.cache/traces.0
dx7interface/autom4te.cache/traces.1
dx7interface/autom4te.cache/traces.2
dx7interface/autom4te.cache/traces.3
dx7interface/autom4te.cache/traces.4
dx7interface/autom4te.cache/traces.5
dx7interface/autom4te.cache/traces.6
dx7interface/autom4te.cache/traces.7
dx7interface/autom4te.cache/traces.8
dx7interface/config/ar-lib
dx7interface/config/compile
dx7interface/config/config.guess
dx7interface/config/config.rpath
dx7interface/config/config.sub
dx7interface/config/depcomp
dx7interface/config/install-sh
dx7interface/config/ltmain.sh
dx7interface/config/missing
dx7interface/data/Makefile
dx7interface/data/Makefile.in
dx7interface/data/cfg/Makefile
dx7interface/data/cfg/Makefile.in
dx7interface/data/fonts/Makefile
dx7interface/data/fonts/Makefile.in
dx7interface/data/images/Makefile
dx7interface/data/images/Makefile.in
dx7interface/data/launcher/dx7interface.desktop
dx7interface/data/launcher/Makefile
dx7interface/data/launcher/Makefile.in
dx7interface/data/ui/dx7interface-0.0.1-simplify_4.8.ui.h
dx7interface/data/ui/dx7interface-0.0.1-simplify.ui.h
dx7interface/data/ui/Makefile
dx7interface/data/ui/Makefile.in
dx7interface/m4/build-to-host.m4
dx7interface/m4/codeset.m4
dx7interface/m4/extern-inline.m4
dx7interface/m4/fcntl-o.m4
dx7interface/m4/freetype2.m4
dx7interface/m4/gettext.m4
dx7interface/m4/gettext.m4~
dx7interface/m4/glib-2.0.m4
dx7interface/m4/glib-gettext.m4
dx7interface/m4/glibc2.m4
dx7interface/m4/glibc21.m4
dx7interface/m4/gsettings.m4
dx7interface/m4/host-cpu-c-abi.m4
dx7interface/m4/iconv.m4
dx7interface/m4/iconv.m4~
dx7interface/m4/intdiv0.m4
dx7interface/m4/intl.m4
dx7interface/m4/intldir.m4
dx7interface/m4/intlmacosx.m4
dx7interface/m4/intlmacosx.m4~
dx7interface/m4/intltool.m4
dx7interface/m4/intmax.m4
dx7interface/m4/inttypes_h.m4
dx7interface/m4/inttypes-pri.m4
dx7interface/m4/lcmessage.m4
dx7interface/m4/lib-ld.m4
dx7interface/m4/lib-ld.m4~
dx7interface/m4/lib-link.m4
dx7interface/m4/lib-link.m4~
dx7interface/m4/lib-prefix.m4
dx7interface/m4/lib-prefix.m4~
dx7interface/m4/libtool.m4
dx7interface/m4/libxml.m4
dx7interface/m4/lock.m4
dx7interface/m4/longlong.m4
dx7interface/m4/lt~obsolete.m4
dx7interface/m4/ltoptions.m4
dx7interface/m4/ltsugar.m4
dx7interface/m4/ltversion.m4
dx7interface/m4/nls.m4
dx7interface/m4/nls.m4~
dx7interface/m4/pkg.m4
dx7interface/m4/po.m4
dx7interface/m4/po.m4~
dx7interface/m4/printf-posix.m4
dx7interface/m4/progtest.m4
dx7interface/m4/progtest.m4~
dx7interface/m4/size_max.m4
dx7interface/m4/stdint_h.m4
dx7interface/m4/tcl8.6.m4
dx7interface/m4/threadlib.m4
dx7interface/m4/uintmax_t.m4
dx7interface/m4/visibility.m4
dx7interface/m4/wchar_t.m4
dx7interface/m4/wint_t.m4
dx7interface/m4/xsize.m4
dx7interface/po/boldquot.sed
dx7interface/po/de.gmo
dx7interface/po/de.po
dx7interface/po/dx7interface.pot
dx7interface/po/en.gmo
dx7interface/po/en.po
dx7interface/po/en@boldquot.header
dx7interface/po/en@quot.header
dx7interface/po/es.gmo
dx7interface/po/es.po
dx7interface/po/fr.gmo
dx7interface/po/insert-header.sin
dx7interface/po/jap.gmo
dx7interface/po/jap.po
dx7interface/po/languagecode.gmo
dx7interface/po/languagecode.po
dx7interface/po/Makefile
dx7interface/po/Makefile.in
dx7interface/po/Makefile.in.in
dx7interface/po/Makefile.in.in~
dx7interface/po/Makevars.template
dx7interface/po/POTFILES
dx7interface/po/quot.sed
dx7interface/po/remove-potcdate.sin
dx7interface/po/ru.gmo
dx7interface/po/ru.po
dx7interface/po/Rules-quot
dx7interface/po/stamp-it
dx7interface/src/dx7interface_0_0_1_la-dx7interface.lo
dx7interface/src/dx7interface_0_0_1_la-dx7interface.o
dx7interface/src/dx7interface_0_0_1_la-GtkClass.lo
dx7interface/src/dx7interface_0_0_1_la-GtkClass.o
dx7interface/src/dx7interface_0_0_1_la-synth.lo
dx7interface/src/dx7interface_0_0_1_la-synth.o
dx7interface/src/dx7interface-0.0.1.la
dx7interface/src/dx7interface.pc
dx7interface/src/Makefile
dx7interface/src/Makefile.in
dx7interface/src/tx81zinterface.pc
dx7interface/src/.deps/dx7interface_0_0_1_la-dx7interface.Plo
dx7interface/src/.deps/dx7interface_0_0_1_la-GtkClass.Plo
dx7interface/src/.deps/dx7interface_0_0_1_la-synth.Plo
dx7interface/src/.libs/dx7interface_0_0_1_la-dx7interface.o
dx7interface/src/.libs/dx7interface_0_0_1_la-GtkClass.o
dx7interface/src/.libs/dx7interface_0_0_1_la-synth.o
dx7interface/src/.libs/dx7interface-0.0.1-1.dll
dx7interface/src/.libs/dx7interface-0.0.1.a
dx7interface/src/.libs/dx7interface-0.0.1.dll.a
dx7interface/src/.libs/dx7interface-0.0.1.la
dx7interface/src/.libs/dx7interface-0.0.1.lai
gxinterface/ABOUT-NLS
gxinterface/aclocal.m4
gxinterface/autoscan-2.72.log
gxinterface/config.h.in
gxinterface/config.log
gxinterface/config.status
gxinterface/configure
gxinterface/configure.scan
gxinterface/intltool-extract.in
gxinterface/intltool-merge.in
gxinterface/intltool-update.in
gxinterface/libtool
gxinterface/Makefile
gxinterface/Makefile.in
gxinterface/stamp-h1
gxinterface/autom4te.cache/output.0
gxinterface/autom4te.cache/output.1
gxinterface/autom4te.cache/output.2
gxinterface/autom4te.cache/output.3
gxinterface/autom4te.cache/output.4
gxinterface/autom4te.cache/output.5
gxinterface/autom4te.cache/output.6
gxinterface/autom4te.cache/output.7
gxinterface/autom4te.cache/requests
gxinterface/autom4te.cache/traces.0
gxinterface/autom4te.cache/traces.1
gxinterface/autom4te.cache/traces.2
gxinterface/autom4te.cache/traces.3
gxinterface/autom4te.cache/traces.4
gxinterface/autom4te.cache/traces.5
gxinterface/autom4te.cache/traces.6
gxinterface/autom4te.cache/traces.7
gxinterface/config/ar-lib
gxinterface/config/compile
gxinterface/config/config.guess
gxinterface/config/config.rpath
gxinterface/config/config.sub
gxinterface/config/depcomp
gxinterface/config/install-sh
gxinterface/config/ltmain.sh
gxinterface/config/missing
gxinterface/data/Makefile
gxinterface/data/Makefile.in
gxinterface/data/images/Makefile
gxinterface/data/images/Makefile.in
gxinterface/data/launcher/gxinterface.desktop
gxinterface/data/launcher/Makefile
gxinterface/data/launcher/Makefile.in
gxinterface/data/ui/interface_4.8.ui.h
gxinterface/data/ui/interface.ui.h
gxinterface/data/ui/Makefile
gxinterface/data/ui/Makefile.in
gxinterface/lib/gxinterface.pc
gxinterface/lib/Makefile
gxinterface/lib/Makefile.in
gxinterface/m4/build-to-host.m4
gxinterface/m4/codeset.m4
gxinterface/m4/fcntl-o.m4
gxinterface/m4/freetype2.m4
gxinterface/m4/gettext.m4
gxinterface/m4/gettext.m4~
gxinterface/m4/glib-2.0.m4
gxinterface/m4/glib-gettext.m4
gxinterface/m4/glibc2.m4
gxinterface/m4/glibc21.m4
gxinterface/m4/gsettings.m4
gxinterface/m4/host-cpu-c-abi.m4
gxinterface/m4/iconv.m4
gxinterface/m4/iconv.m4~
gxinterface/m4/intdiv0.m4
gxinterface/m4/intl.m4
gxinterface/m4/intldir.m4
gxinterface/m4/intlmacosx.m4
gxinterface/m4/intlmacosx.m4~
gxinterface/m4/intltool.m4
gxinterface/m4/intmax.m4
gxinterface/m4/inttypes_h.m4
gxinterface/m4/inttypes-pri.m4
gxinterface/m4/lcmessage.m4
gxinterface/m4/lib-ld.m4
gxinterface/m4/lib-ld.m4~
gxinterface/m4/lib-link.m4
gxinterface/m4/lib-link.m4~
gxinterface/m4/lib-prefix.m4
gxinterface/m4/lib-prefix.m4~
gxinterface/m4/libtool.m4
gxinterface/m4/libxml.m4
gxinterface/m4/lock.m4
gxinterface/m4/longlong.m4
gxinterface/m4/lt~obsolete.m4
gxinterface/m4/ltoptions.m4
gxinterface/m4/ltsugar.m4
gxinterface/m4/ltversion.m4
gxinterface/m4/nls.m4
gxinterface/m4/nls.m4~
gxinterface/m4/pkg.m4
gxinterface/m4/po.m4
gxinterface/m4/po.m4~
gxinterface/m4/printf-posix.m4
gxinterface/m4/progtest.m4
gxinterface/m4/progtest.m4~
gxinterface/m4/size_max.m4
gxinterface/m4/stdint_h.m4
gxinterface/m4/tcl8.6.m4
gxinterface/m4/threadlib.m4
gxinterface/m4/uintmax_t.m4
gxinterface/m4/visibility.m4
gxinterface/m4/wchar_t.m4
gxinterface/m4/wint_t.m4
gxinterface/m4/xsize.m4
gxinterface/po/boldquot.sed
gxinterface/po/de.po
gxinterface/po/en.po
gxinterface/po/en@boldquot.header
gxinterface/po/en@quot.header
gxinterface/po/es.po
gxinterface/po/insert-header.sin
gxinterface/po/jap.po
gxinterface/po/languagecode.po
gxinterface/po/Makefile
gxinterface/po/Makefile.in
gxinterface/po/Makefile.in.in
gxinterface/po/Makefile.in.in~
gxinterface/po/Makevars.template
gxinterface/po/missing
gxinterface/po/POTFILES
gxinterface/po/quot.sed
gxinterface/po/remove-potcdate.sin
gxinterface/po/ru.po
gxinterface/po/Rules-quot
gxinterface/po/stamp-it
gxinterface/src/Makefile
gxinterface/src/Makefile.in
gxinterface/src/.deps/gxinterface-common.Po
gxinterface/src/.deps/gxinterface-gemod.Po
gxinterface/src/.deps/gxinterface-gxinterface.Po
gxinterface/src/.deps/gxinterface-gxmodule.Po
gxinterface/src/.deps/gxinterface-gxthread.Po
gxinterface/src/.deps/gxinterface-logger.Po
gxinterface/src/.deps/gxinterface-main.Po
gxinterface/src/.deps/libgxinterface_0_0_1_la-common.Plo
gxinterface/src/.deps/libgxinterface_0_0_1_la-gemod.Plo
gxinterface/src/.deps/libgxinterface_0_0_1_la-gxinterface.Plo
gxinterface/src/.deps/libgxinterface_0_0_1_la-gxmodule.Plo
gxinterface/src/.deps/libgxinterface_0_0_1_la-gxthread.Plo
gxinterface/src/gxinterface-common.o
gxinterface/src/gxinterface-logger.o
gxinterface/po/de.gmo
gxinterface/po/en.gmo
gxinterface/po/es.gmo
gxinterface/po/fr.gmo
gxinterface/po/jap.gmo
gxinterface/po/languagecode.gmo
gxinterface/po/ru.gmo
gxinterface/src/.deps/gxinterface-gxthread.Tpo
gxinterface/config.h.in~
gxinterface/configure~
gxinterface/autom4te.cache/output.8
gxinterface/autom4te.cache/traces.8
gxinterface/lib/libgxinterface-0.0.1.la
gxinterface/lib/.libs/libgxinterface-0.0.1-1.dll
gxinterface/lib/.libs/libgxinterface-0.0.1.a
gxinterface/lib/.libs/libgxinterface-0.0.1.dll.a
gxinterface/lib/.libs/libgxinterface-0.0.1.la
gxinterface/lib/.libs/libgxinterface-0.0.1.lai
gxinterface/src/.dirstamp
gxinterface/src/gxinterface-gemod.o
gxinterface/src/gxinterface-gxinterface.o
gxinterface/src/gxinterface-gxmodule.o
gxinterface/src/gxinterface-gxthread.o
gxinterface/src/gxinterface-main.o
gxinterface/src/gxinterfaceicon.o
gxinterface/src/gxinterface.exe
gxinterface/src/libgxinterface_0_0_1_la-common.lo
gxinterface/src/libgxinterface_0_0_1_la-common.o
gxinterface/src/libgxinterface_0_0_1_la-gemod.lo
gxinterface/src/libgxinterface_0_0_1_la-gemod.o
gxinterface/src/libgxinterface_0_0_1_la-gxinterface.lo
gxinterface/src/libgxinterface_0_0_1_la-gxinterface.o
gxinterface/src/libgxinterface_0_0_1_la-gxmodule.lo
gxinterface/src/libgxinterface_0_0_1_la-gxmodule.o
gxinterface/src/libgxinterface_0_0_1_la-gxthread.lo
gxinterface/src/libgxinterface_0_0_1_la-gxthread.o
gxinterface/src/libgxinterface_0_0_1_la-logger.lo
gxinterface/src/libgxinterface_0_0_1_la-logger.o
gxinterface/src/.deps/.dirstamp
gxinterface/src/.deps/libgxinterface_0_0_1_la-logger.Plo
gxinterface/src/.libs/libgxinterface_0_0_1_la-common.o
gxinterface/src/.libs/libgxinterface_0_0_1_la-gemod.o
gxinterface/src/.libs/libgxinterface_0_0_1_la-gxinterface.o
gxinterface/src/.libs/libgxinterface_0_0_1_la-gxmodule.o
gxinterface/src/.libs/libgxinterface_0_0_1_la-gxthread.o
gxinterface/src/.libs/libgxinterface_0_0_1_la-logger.o
gxinterface/src/libgxlogmanager_0_0_1_la-common.lo
gxinterface/src/libgxlogmanager_0_0_1_la-common.o
gxinterface/src/libgxlogmanager_0_0_1_la-logger.lo
gxinterface/src/libgxlogmanager_0_0_1_la-logger.o
gxinterface/src/.deps/libgxlogmanager_0_0_1_la-common.Plo
gxinterface/src/.deps/libgxlogmanager_0_0_1_la-logger.Plo
gxinterface/src/.libs/gxinterface_ltshwrapper
gxinterface/src/.libs/libgxlogmanager_0_0_1_la-common.o
gxinterface/src/.libs/libgxlogmanager_0_0_1_la-logger.o
gxinterface/src/.libs/lt-gxinterface.c
dx7interface/src/.deps/dx7interface_0_0_1_la-dx7interface.Tpo
dx7interface/m4/opus.m4
dx7interface/m4/ogg.m4
.gitignore
dx7interface/autoscan-2.73.log
dx7interface/config/config.guess~
.gitignore
.gitignore
dx7interface/m4/gst-element-check-1.0.m4
dx7interface/m4/vorbis.m4
dx7interface/src/.dirstamp
dx7interface/src/.deps/.dirstamp
gxinterface/config/config.guess~
gxinterface/config/config.sub~
gxinterface/m4/extern-inline.m4
gxinterface/m4/gst-element-check-1.0.m4
gxinterface/m4/ogg.m4
gxinterface/m4/opus.m4
gxinterface/m4/vorbis.m4
gxinterface/src/libgxthread_0_0_1_la-gxthread.lo
gxinterface/src/libgxthread_0_0_1_la-gxthread.o
gxinterface/src/.deps/libgxthread_0_0_1_la-gxthread.Plo
gxinterface/src/.libs/libgxthread_0_0_1_la-gxthread.o
gxinterface/autoscan-2.73.log
dx7interface/src/libgxgtkclass_0_0_1_la-GtkClass.lo
dx7interface/src/libgxgtkclass_0_0_1_la-GtkClass.o
dx7interface/src/libgxsynth_0_0_1_la-synth.lo
dx7interface/src/libgxsynth_0_0_1_la-synth.o
dx7interface/src/.deps/libgxgtkclass_0_0_1_la-GtkClass.Plo
dx7interface/src/.deps/libgxsynth_0_0_1_la-synth.Plo
dx7interface/src/.libs/libgxgtkclass_0_0_1_la-GtkClass.o
dx7interface/src/.libs/libgxsynth_0_0_1_la-synth.o
dx7interface/lib/.libs/libgxgtkclass-0.0.1-1.dll
dx7interface/lib/.libs/libgxgtkclass-0.0.1.a
dx7interface/lib/.libs/libgxgtkclass-0.0.1.dll.a
dx7interface/lib/.libs/libgxgtkclass-0.0.1.la
dx7interface/lib/.libs/libgxgtkclass-0.0.1.lai
dx7interface/lib/.libs/libgxsynth-0.0.1-1.dll
dx7interface/lib/.libs/libgxsynth-0.0.1.a
dx7interface/lib/.libs/libgxsynth-0.0.1.dll.a
dx7interface/lib/.libs/libgxsynth-0.0.1.la
dx7interface/lib/.libs/libgxsynth-0.0.1.lai
gxinterface/lib/libgxlogmanager-0.0.1.la
gxinterface/lib/.libs/libgxlogmanager-0.0.1-1.dll
gxinterface/lib/.libs/libgxlogmanager-0.0.1.a
gxinterface/lib/.libs/libgxlogmanager-0.0.1.dll.a
gxinterface/lib/.libs/libgxlogmanager-0.0.1.la
gxinterface/lib/.libs/libgxlogmanager-0.0.1.lai
dx7interface/lib/libgxgtkclass-0.0.1.la
dx7interface/lib/libgxsynth-0.0.1.la
dx7interface/config/config.sub~
