/*
*   CSS file for theme widget
*   Green dx7:  #66cc99 / 0.4,0.8,0.6,1.0 / 102,204,153,1
*   Orange dx7: #e15a46 / 0.88,0.35,0.27,1.0 / 225, 90, 70, 1
*/

/*** Frame LOAD_BANK ***/
.frameloadbank {
    min-width:160px;
}
/*
 * columnview[.colu*mn-separators][.rich-list][.navigation-sidebar][.data-table]
 * ├── header
 * │   ├── <column header>
 * │   ╰── <column header>
 * ├── listview[.separators][.rich-list][.navigation-sidebar][.data-table]
 * │      ├── row[.activatable]
 * │      ├── row[.activatable]
 * │      ╰── [rubberband]
 * ╰── [rubberband]
 */
.frameloadbank columnview{
    min-width:160px;
}
.frameloadbank columnview listview{
    min-width:160px;
    color:white;
}
.frameloadbank columnview header label{
}
.bank_select{
    font-weight: bold;
}
/*** Button reveal bank ***/
.btn_reveal {
    margin:0 2px;
    padding:0 0;
    min-width:5px;
    min-height:200px;
}

button{
    /*font-weight: bold;*/
    margin:0 0;
    padding:0 0;
}
/*
spinbutton.(vertical|horizontal)
├── text
│    ├── undershoot.left
│    ╰── undershoot.right
├── button.down
╰── button.up
*/
spinbutton {
    min-width: 1px;
    min-height: 1px;
    padding: 0 0;
    /*color:black;*/
}

spinbutton text {
    min-height: 1px;
    min-width: 1px;
    padding: 0.2em 0.2em;
    /*background-color: #66cc99;*/
}

spinbutton button {
    min-height: 1px;
    min-width: 1px;
    padding: 0 0;
}

/*DropDown
    ├── button
    ╰── pophover
*/
dropdown{
    min-height: 0;
    min-width: 0;
    padding: 0 0;
    margin: 0 0;
}
dropdown *{
    min-height: 0;
    min-width: 0;
    padding: 0 0;
    margin: 0 0;
}
dropdown button{
    min-width: 5.2em;
}
/*
entry[.read-only][.flat][.warning][.error]
├── image.left
├── image.right
├── undershoot.left
├── undershoot.right
├── [selection]
├── [progress[.pulse]]
╰── [window.popup]
*/
entry {
    min-height: 0;
    min-width: 0;
    padding: 0 0;
}
.sound_name > *{
    font-family: "Raster Fonts 6x8";
    /*font-size:30px;*/
}
/*
scale[.fine-tune][.marks-before][.marks-after]
├── [value][.top][.right][.bottom][.left]
├── marks.top
│   ├── mark
│   ┊    ├── [label]
│   ┊    ╰── indicator
│   ╰── mark
├── marks.bottom
│   ├── mark
│   ┊    ├── indicator
│   ┊    ╰── [label]
│   ╰── mark
╰── trough
├── [fill]
├── [highlight]
╰── slider
*/
scale highlight{
    background-color:#66cc99;
}
scale{
 padding:4px 4px;
 margin:8px 8px;
}
/*
checkbutton
├── check
╰── [label]
*/
checkbutton:checked >check{
    color:black;
    background-image: none;
    background-color:#66cc99;
    /*border-color:black;*/
}

/*
notebook
├── header.top
│   ├── [<action widget>]
│   ├── tabs
│   │   ├── [arrow]
│   │   ├── tab
│   │   │   ╰── <tab label>
│   │   ├── tab[.reorderable-page]
│   │   │   ╰── <tab label>
│   │   ╰── [arrow]
│   ╰── [<action widget>]
│
╰── stack
├── <child>
┊
╰── <child>
*/
notebook header tabs tab:checked{
    box-shadow: inset 0 -3px #66cc99;
 /*background-color:   #66cc99;*/
}
picture{
 margin: 0 0;
 padding: 0 0;
}

grid >frame{
  margin: 0 0;
  padding: 4px 4px;
}

.blink *{
 animation:blink 1s linear infinite;
}

@keyframes blink{
    0%{opacity: 1;}
    25%{opacity: 0.5;}
    50%{opacity: 0.25;}
    75%{opacity: 0.5;}
    100%{opacity: 1;}
}
